/* Variables */ 

$text-color: #000;
$text-font-family: 'Open Sans', sans-serif;
$text-size: 36px;

$main-color: #fff;

/* Variables END */


/* Global */ 

body {
  background: $main-color;

  & .page-title {
    font-family: $text-font-family;
    font-size: $text-size;
    color: $text-color;
    text-align: center;    

  }
}

/* Global END */ 

